{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

   <head>

      <title>IlliniLand - Edit Profile</title>
      <!-- <base href = "http://illiniland.web.engr.illinois.edu" /> -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
   </head>

   <body class="bg-ac">

     <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><b class=illini>Illini</b><b class=land>land</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/square/">Square</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item active">
              <a class="nav-link" href="/user/profile/">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/">Logout</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Course Name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Course</button>
          </form>
        </div>
      </nav>

      <!-- body -->
      <div style="min-height: 100%;">
			<div class="container pl-xs-5 pr-xs-5 pt-4 pb-4">



				<div class="card col-md-8 offset-md-2 text-center pr-sm-5 pl-sm-5">
					<h1 class="mt-4 mb-sm-4 mb-3 content-heading">Edit Profile</h1>
					<form action="/user/edit_profile/" method="POST">
            {% csrf_token %}
						<div class="form-group row">
							<label for="email" class="col-sm-4 col-form-label">Illinois Email : </label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="text" class="form-control" name="register_email" value = "{{ user.username }}" placeholder="Email..." requdired="">
									<div class="input-group-addon">@illinois.edu</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-sm-4 col-form-label">Password : </label>
							<div class="col-sm-8">
								<input type="password" class="form-control" name="register_password" placeholder="Keep empty if don't change" reqduired="">
							</div>
						</div>
						<div class="form-group row">
							<label for="password" class="col-sm-4 col-form-label">Confirm Password : </label>
							<div class="col-sm-8">
								<input type="password" class="form-control" name="register_password_confirm" placeholder="Keep empty if don't change" requdired="">
							</div>
						</div>
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">Name : </label>
              <div class="col-sm-8">
                <input type="name" class="form-control" name="name" value="{{student.name}}" placeholder="Name..." requdired="">
              </div>
            </div>
            <div class="form-group row">
              <label for="major" class="col-sm-4 col-form-label">Major : </label>
              <div class="col-sm-8">
                <input type="major" class="form-control" name="major" value="{{student.department.name}}" placeholder="Major..." requdired="">
              </div>
            </div>

            <div class="form-group row mb-5">
              <label for="bio" class="col-sm-4 col-form-label">Bio : </label>
              <div class="col-sm-8">
                <textarea input type="bio" class="form-control" name="bio" rows="5" value="{{student.bio}}" placeholder="Tell us a little bit about yourself ..." requdired=""> </textarea>
              </div>
            </div>

						<!--button type="submit" name="register_submit" class="btn btn-primary mb-3">Save Profile</button -->


            <button type = "submit" class="btn btn-info" role="button">Save Profile</button>

					</form>

				</div>
			</div>
		</div>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   </body>


<script type="text/javascript">
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


</html>
