{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

   <head>

      <title>Course Recommendation</title>
      <!-- <base href = "http://illiniland.web.engr.illinois.edu" /> -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
   </head>

   <body class="bg-ac">

     <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><b class=illini>Illini</b><b class=land>land</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/square/">Square<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/home/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/profile/">Profile</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="/user/recommend_course/">Recommendation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/">Logout</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Course Name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Course</button>
          </form>
        </div>
      </nav>

      <!-- body -->
      <div style="min-height: 100%;">
  		<div class="container pl-xs-5 pr-xs-5 pt-4 pb-4">
          <!-- left course menu -->
            {% csrf_token %}
			<div class="card-deck">
				{% for course in courses%}
				<div class="col-sm-3">
        		<div class="card">
            		<div class="card-body">
						<a href="/course/{{ course.id }}/">
		                    <h5 class="card-title">{{ course.department.name }} {{ course.number }}: {{ course.title }}</h5>
		                </a>
            		</div>
					<div class="card-footer">
				      <small class="text-muted">Subscribed by {{ course.get_number_user }} user(s).</small>
				    </div>
        		</div><br></div><br>
				{% endfor %}
        	</div>

	        </div>

			<div style="min-height: 100%;">
	  			<div class="container pl-xs-5 pr-xs-5 pt-4 pb-4">
	  				<div class="card col-md-8 offset-md-2 text-center pr-sm-5 pl-sm-5">
						<p>Provide feedback to get better result!</p>
						<form class="form-inline my-2 my-lg-0" method="POST"> {% csrf_token %}
							<div class="row">
   				  <button type="submit" name="good" class="btn btn-info" role="button">Perfect!</button>
   				  	&nbsp;&nbsp;
   				  <button type="submit" name="bad" class="btn btn-info" role="button">Not intereted.</button></div>
   				  </form>
			  </div>
		  </div>
		</div>





        </div>
	</div>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   </body>


<script type="text/javascript">
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


</html>
