{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <head>
    <title>IlliniLand - Forum - {{ course.department.name }} {{ course.number }}</title>
    <!-- <base href = "http://illiniland.web.engr.illinois.edu" /> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://use.fontawesome.com/72ce767f24.js"></script>
  </head>


  <body class="bg-ac">

    <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/user/home/"><b class=illini>Illini</b><b class=land>land</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/square/">Square <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/home/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/profile/">Profile</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="/user/recommend_course/">Recommendation</a>
            </li>
          </ul>
		  <form action="/search/" method="POST" class="form-inline my-2 my-lg-0" >
            {% csrf_token %}
            <input class="form-control mr-sm-2" name ="search_string" type="search" value="CS411" aria-label= "Search">
            <select class ="form-control" name="search_type">
                <option value="course">course</option>
                <option value="question">question</option>
            </select> &nbsp;&nbsp;
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>



    <!-- body -->
    <div>
      <div class="container pl-xs-5 pr-xs-5 pt-4 pb-4">
      <div class="question-card-container" id="question_cards">
        <div class="card">
			<div class="card-header">
				<h5 class="float-left" style="display: inline-block; vertical-align: middle; margin: 10px 0;"> {{ course.department.name }} {{ course.number }}: {{ course.title }}</h5>
					{% if take %}
					<form action="/user/subscribe/{{course.id}}/" method="GET" >
						{% csrf_token %}
						<button type="submit" class="btn btn-primary float-right" style="display: inline-block; vertical-align: middle; margin: 10px 0;" > <i class="fa fa-minus"></i> Unsubscribe</button>
					</form>
					{% else %}
					<form action="/user/subscribe/{{course.id}}/" method="POST" >
						{% csrf_token %}
						<button type="submit" class="btn btn-primary float-right" style="display: inline-block; vertical-align: middle; margin: 10px 0;" > <i class="fa fa-plus"></i> Subscribe</button>
					</form>
					{% endif %}
			</div>
          <div class="card-body" style="max-width=100%">
            <p class="card-text">{{ course.description }}</p>
            <div class="container card-text text-center">
              <div class="row">
                <div class="col"><b>{{ difficulty_score|floatformat }}/5</b></div>
                <div class="col"><b>{{ workload_score|floatformat }}/5</b></div>
                <div class="col"><b>{{ professor_score|floatformat }}/5</b></div>
                <div class="col"><b>{{ overall_score|floatformat }}/5</b></div>
                <div class="col"><b>{{ course.get_number_comments }}</b></div>
                <div class="w-100"></div>
                <div class="col">Difficulty</div>
                <div class="col">Workload</div>
                <div class="col">Professor</div>
                <div class="col">Overall</div>
                <div class="col">Reviews</div>
              </div>
            </div>
          </div>
      </div>

        <!-- tab -->
        <div class="card">
          <div class="card-body">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="ask-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Question</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="review-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Review</a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="ask-tab">
                <div class="container">
                  <br>
                  <form action="/course/{{ course.id }}/add_question/" method="POST">
                    {% csrf_token %}
                    <div class="col-sm-8" style="margin: auto;">
      								<textarea class="form-control" name="question_title" placeholder="your question title" rows="1"></textarea>
      							</div>
                    <br>
                    <div class="col-sm-8" style="margin: auto;">
      								<textarea class="form-control" name="question_content" placeholder="add your question to the course..." rows="3"></textarea>
      							</div>
                    <br>
                    <div class="text-center">
                      <button type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
                    </div>
                    <br>
                  </form>
                </div>
                <div class="card-columns" style="column-count: 1;">
                  {% for question in questions %}
                  <div class="card">
                    <h5 class="card-header">  <i class="fa fa-question-circle" aria-hidden="true"></i>
                      Question</h5>
                    <div class="card-body">
                      <a href="/question/{{question.id}}/">
                       <h5 class="card-title">{{ question.title }}</h5>
                        <p class="card-text">{{ question.content }}</p>
                      </a>
                    </div>
                    <div class=" card-footer text-muted">
						<div class="row">
                      <small class="col-md-6 text-left">Asked {{question.time }} by
                        <a href="#">{{ question.user.username }}</a>
                      </small>
                      <small class="text-right text-info col-md-6">{{ question.get_number_answers }} Answers</small>
				  </div>
                    </div>
                  </div>
                  {% endfor%}

                </div> <!-- end of card column -->
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="review-tab">
                <br>
                <div class="container">
                <form  action="/course/{{ course.id }}/add_comment/" method="POST">
                  {% csrf_token %}
                  <div class="container card-text text-center">
                    <div class="row">
                      <div class="col form-group">
                        <label for="difficulty">Difficulty</label>
                        <select name="difficulty" class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <div class="col form-group">
                        <label for="workload">Workload</label>
                        <select name="workload" class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <div class="col form-group">
                        <label for="professor">Professor</label>
                        <select name="professor" class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <div class="col form-group">
                        <label for="overall">Overall</label>
                        <select name="overall" class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-8" style="margin: auto;">
                      <textarea class="form-control" name="review_text" placeholder="What do you think about this course..." rows="2"></textarea>
                    </div>
                    <br>
                    <div class="text-center">
                      <button type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
                    </div>
                    <br>
                  </div>
                </form>
              </div>
              <div class="card-columns" style="column-count: 1;">
                {% for comment in comments %}

                <div class="card">
                  <h5 class="card-header">  <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
                    Review</h5>
                  <div class="card-body">
                    <div class="row text-muted">
                      <div class="col">Difficulty: {{ comment.difficulty_score }}/5</div>
                      <div class="col">Workload: {{ comment.workload_score }}/5</div>
                      <div class="col">Professor: {{ comment.professor_score }}/5</div>
                      <div class="col">Overall: {{comment.overall_score }}/5</div>
                    </div>
                    <br>
                    <p class="card-text">{{ comment.content }}</p>
                  </div>
                  <div class="card-footer text-muted">
					  <div class="row">
                    <small class="col-md-6 text-left">Reviewed {{ comment.time }} by
                      <a href="#">{{ comment.user.username }}</a>
                    </small>
				</div>
                  </div>
                </div>

                {% endfor %}

              </div> <!-- end of card column -->
              </div>
            </div>

          </div>
        </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

  </body>



<script type="text/javascript">
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>


</html>
