{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

   <head>

      <title>IlliniLand - Main</title>
      <!-- <base href = "http://illiniland.web.engr.illinois.edu" /> -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'forum/main.css' %}">
   </head>

   <body class="bg-ac">

     <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b class=illini>Illini</b><b class=land>land</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Show All</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="/logout">Log Out</a>
              {% else %}
              <a class="nav-link" href="/login">Sign In / Register</a>
              {% endif %}
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Course Name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Course</button>
          </form>
        </div>
      </nav>

      <!-- body -->
      {% if user.is_authenticated %}
        <p>Welcome to IlliniLand, {{ user.username }} !</p>
      {% endif %}
      
      <div class="main-container center">
        <div class="container">
          <div class="row text-center justify-content-center section-intro">
            <div class="col-12 col-md-10 col-lg-8 center" style="background-color: rgba(222, 222, 222, 0.65)">
              <h1 class="display-3"><b class=illini>Illini</b><b class=land>land</b></h1>
              <span class="lead">
                A course review and Q&A platform designed for UIUC students only.</span>
            </div>
          </div>
        </div>
      </div>



      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   </body>


<script type="text/javascript">
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


</html>
