{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

   <head>

      <title>Search Result</title>
      <!-- <base href = "http://illiniland.web.engr.illinois.edu" /> -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
   </head>

   <body class="bg-ac">



     <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><b class=illini>Illini</b><b class=land>land</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/square/">Square <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/profile/">Profile</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="/user/recommend_course/">Recommendation</a>
            </li>
          </ul>
          <form method="POST" class="form-inline my-2 my-lg-0" >
            {% csrf_token %}
            <input class="form-control mr-sm-2" name ="search_string" type="search" value="CS411" aria-label= "Search">
            <select class ="form-control" name="search_type">
                <option value="course">course</option>
                <option value="question">question</option>
            </select> &nbsp;&nbsp;
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <!-- body -->
      <div style="min-height: 100%;">
      <div class="container pl-xs-5 pr-xs-5 pt-4 pb-4">
        <!-- left course menu -->
        {% if courses|length > 0 %}
        <div class="list-group course-list">
            {% for course in courses%}
            <div class="card">
                <a href="/course/{{ course.id }}/">
                    <h5 class="card-header">{{ course.department.name }} {{ course.number }}: {{ course.title }}</h5>
                </a>
              <div class="card-body" style="max-width=100%">
                <p class="card-text">{{ course.description }}</p>
              </div>
          </div><br>
            {% endfor %}
        </div>
        {% endif %}
        <!-- right all course questions -->
        {% if questions|length > 0 %}
        <div class="question-card-container" id="question_cards">
            {% for question in questions %}
            <div class="card">
              <a href="/course/{{question.course.id}}/">
                <h5 class="card-header">{{ question.course.department.name }} {{ question.course.number }}</h5>
              </a>

              <div class="card-body">
                  <a class="card-link" href="/question/{{ question.id }}">
                <h5 class="card-title">{{ question.title }}</h5>
                <p class="card-text">{{ question.content }}</p>
              </a></div>
              <div class="card-footer text-muted">
				  <div class="row">
                <small class="col-md-6 text-left">Asked {{ question.time|date:"Y/m/d H:i" }} by
                  <a href="#">{{ question.user.username }}</a>
                </small>
                <small class="text-info col-md-6 text-right">{{ question.get_number_answers }} Answers</small>
			</div>
              </div>
            </div>
            <br>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>


      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

   </body>


<script type="text/javascript">
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>


</html>
